<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<head>
    <title>Attaque Donjon</title>
</head>

<body>

    <main layout:fragment="content" class="container mx-auto px-4 py-8">
        <audio th:src="@{/audios/Menu.mp3}" autoplay loop></audio>
        <h1 class="text-4xl font-dungeon text-center mb-2 text-amber-400 mb-2">Attaquer
            un Donjon</h1>

        <div th:if="${dungeon == null}" class="text-center text-gray-400 mt-8">
            <p>Aucun donjon disponible pour le moment.</p>
            <a th:href="@{/roadmap}" class="inline-block mt-4 text-amber-400 hover:text-amber-300">Retour à la
                roadmap</a>
        </div>

        <div th:if="${dungeon != null}">
            <div th:if="${param.error}" class="bg-red-500 text-white p-4 rounded-lg mb-4 text-center">
                <p>Pas assez d'or ! Il vous faut 80 pièces d'or.</p>
            </div>

            <div class="text-center mb-2">
                <img th:src="@{'/images/shop/theme_' + ${dungeon.cosmeticTheme} + '.png'}"
                    th:alt="${dungeon.cosmeticTheme}"
                    class="mx-auto h-[375px] object-contain drop-shadow-[0_0_10px_rgba(255,255,255,0.2)] my-5">

                <h2 class="text-3xl font-dungeon text-white my-2" th:text="${dungeon.name}">Nom du Donjon</h2>
                <p class="text-gray-400">Créé par <span class="text-amber-400"
                        th:text="${dungeon.user.username}">User</span></p>
            </div>

            <div class="flex justify-center gap-8 mb-8">
                <div class="flex items-center gap-2 px-4 py-3 text-center p-4 text-blue-400">
                    <svg fill="currentColor" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg"
                        class="w-7 h-7">
                        <path
                            d="M221.65723,34.34326A8.00246,8.00246,0,0,0,216,32h-.02539l-63.79883.20117A8.00073,8.00073,0,0,0,146.0332,35.106L75.637,120.32275,67.31348,111.999A16.02162,16.02162,0,0,0,44.68555,112L32.001,124.68555A15.99888,15.99888,0,0,0,32,147.31348l20.88672,20.88769L22.94531,198.14258a16.01777,16.01777,0,0,0,.001,22.62695l12.28418,12.28418a16.00007,16.00007,0,0,0,22.62793,0L87.79883,203.1123,108.68652,224.001A16.02251,16.02251,0,0,0,131.31445,224L143.999,211.31445A15.99888,15.99888,0,0,0,144,188.68652l-8.32324-8.32324,85.21679-70.39648a8.00125,8.00125,0,0,0,2.90528-6.14258L224,40.02539A8.001,8.001,0,0,0,221.65723,34.34326Zm-13.84668,65.67822-83.49829,68.97706L111.314,156l54.34327-54.34277a8.00053,8.00053,0,0,0-11.31446-11.31446L100,144.686,87.00195,131.6875,155.97852,48.189l51.99609-.16357Z" />
                    </svg>
                    <p class="text-2xl font-bold" th:text="|Level ${dungeon.dungeonQuestions.size()}|">Level 0</p>
                </div>
                <div class="flex items-center gap-2 px-4 py-3 text-center p-4 text-[#4ade80]">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-7 h-7">
                        <path
                            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                    </svg>
                    <p class="text-2xl font-bold" th:text="${dungeon.dungeonQuestions.size() * 10}">80</p>
                </div>
                <div class="flex items-center gap-1 px-4 py-3 text-center pl-4">
                    <p class="text-2xl font-bold text-red-500" th:text="|+${dungeon.damageBoost}%|">+0%</p>
                    <img th:src="@{/images/dungeon_icon.svg}" alt="Dungeon" class="w-6 h-6">
                </div>
                <div class="flex items-center gap-1 px-4 py-3 text-center pl-4">
                    <p class="text-2xl font-bold text-yellow-500" th:text="${dungeon.user.gold}"></p>
                    <img th:src="@{/images/gold.svg}" alt="Gold" class="w-6 h-6">
                </div>
            </div>

            <div class="flex justify-center items-center gap-8 mb-8">
                <a th:href="@{/raid/start/{id}(id=${dungeon.id})}" class="inline-block w-64 content-center">
                    <div th:replace="~{fragments/button :: submitButton('ATTAQUER')}"></div>
                </a>
                <form th:action="@{/dungeon/attack/buy}" method="post" class="inline-block w-64 content-center">
                    <div th:replace="~{fragments/buy_button :: buyButton('SUIVANT', 80)}"></div>
                </form>
            </div>
        </div>

    </main>

</body>

</html>