<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<head>
    <title>Édition Donjon</title>
</head>

<body>

    <main layout:fragment="content" class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-dungeon text-center mb-8">Édition du Donjon</h1>
        <!-- Édition donjon : liste questions débloquées, liste questions dans donjon, boutons add/remove -->
    </main>

</body>

</html>