<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<head>
    <title>Attaque Donjon</title>
</head>

<body>

    <main layout:fragment="content" class="container mx-auto px-4 py-8">
        <h1 class="text-4xl font-dungeon text-center mb-8">Sélection Cible</h1>
        <!-- Sélection cible PvP : affichage joueur cible (nom, niveau, nombre questions donjon), boutons attaquer/refresh -->
    </main>

</body>

</html>